<?xml version='1.0' encoding='utf-8'?>
<plugin id="dev.oscarsalguero.reverserplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>reverserplugin</name><js-module name="reverserplugin" src="www/reverserplugin.js"><clobbers target="cordova.plugins.reverserplugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="reverserplugin"><param name="android-package" value="dev.oscarsalguero.reverserplugin.reverserplugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/reverserplugin.java" target-dir="src/dev/oscarsalguero/reverserplugin/reverserplugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="reverserplugin"><param name="ios-package" value="reverserplugin" /></feature></config-file><source-file src="src/ios/reverserplugin.m" /></platform></plugin>