<?xml version='1.0' encoding='utf-8'?>
<plugin id="dev.oscarsalguero.reverserplugin" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>reverserplugin</name>
    <js-module name="ReverserPlugin" src="www/reverserplugin.js">
        <clobbers target="cordova.plugins.ReverserPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ReverserPlugin">
                <param name="android-package" value="dev.oscarsalguero.reverserplugin.ReverserPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/ReverserPlugin.java" target-dir="src/dev/oscarsalguero/reverserplugin/ReverserPlugin" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ReverserPlugin">
                <param name="ios-package" value="ReverserPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/ReverserPlugin.m" />
    </platform>
</plugin>